.card-img-index {
    height:200px;
    width:auto;
    object-fit:cover;
}

.form-container {
    width:80%;
    margin: auto;
}
.flex {
    display:flex;
    flex-direction:column;
    width:20%;
    margin:auto;
}

.flex * {
    margin-top:20px;
}