.card-img-index {
    height:200px;
    width:auto;
    object-fit:cover;
}



.form-container {
    width:80%;
    margin: auto;
}
.flex {
    display:flex;
    flex-direction:column;
    width:20%;
    margin:auto;
}

.flex * {
    margin-top:20px;
}

.flex-form {
    display:flex;
    width:200px;
}
.flex-form * {
    margin-right:20px;
}

.render {
    padding:50px 70px;
    text-align:center;

}
.account {
    display:flex;
    align-items:center;
}

.btn {
    height:25px;
    width:80px;
    font-size:12px;
    padding:0;
}
