@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <environment include="Development">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
              rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
              crossorigin="anonymous">
    </environment>
    <link rel="stylesheet" href="~/Css/style.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">HAPY</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Create">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/xand974">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/maletalexandre1">Twitter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Administration" asp-action="GetRole">Role</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Administration" asp-action="GetListRoles">Liste des Roles</a>
                    </li>
                </ul>
                <ul class="navbar-nav">


                    @if (signInManager.IsSignedIn(User))
                    {
                        <li class="account nav-item">
                            <form asp-controller="Account" asp-action="Logout" method="Post" class="flex-form">
                                <span class="text-primary">@User.Identity.Name</span>
                                <button class="btn btn-danger" type="submit">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
                
            </div>
        </div>
    </nav>
    <div class="render">
        @RenderBody()
    </div>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>
