@model IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Vos posts</h1>

<div class="container-fluid d-inline-flex">

    @foreach (var post in Model.GetPosts)
    {
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@post.Title</h5>
                <p class="card-text">@post.Description</p>
                <small>crée par : @post.Creator.Pseudo</small>
                <a asp-controller="Home" asp-action="Detail" asp-route-id="@post.Id" class="btn btn-primary">Detail</a>
            </div>
        </div>
    }
</div>


